/*-------cabeçalho--------*/
.header{
    background-color: #D5EBFF;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.divisor{
    height: 1px;
    width: 95%;
    background: linear-gradient(145deg, #c0d4e6, rgb(166, 184, 200));

}
.title{
    font-family:  sans-serif;
    font-size: 4vh;
    color: #030303;
    font-weight: 200;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/*----------cor de fundo------------*/
.container{
    background-color: #D5EBFF;
    height: 92vh;
}

/*----------menu superior------------*/
.menu{
    display:flex;
    justify-content: space-evenly;
    height: 8vh;
    align-items: center;
    flex-wrap: wrap;
}
.entrada1{
    height: 42px;
    font-size: 26px;
    padding-left:1%;
    box-sizing:border-box;
    width: 30%;
    min-width: 250px;
}
.entrada{
    height: 42px;
    font-size: 26px;
    padding-left: 5%;
    box-sizing:border-box;
    width: 450px;
}
.mesa{
    height: 42px;
    font-size: 26px;
    padding-left:1%;
    box-sizing:border-box;
    width: 250px;
}
.form{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filtro{
    margin-left: 0.25%;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000000;
    border: 1px solid #6aade948;
    font-size: 14px;
    transition: 1.25s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.filtro:hover{
    border: none;
    background-color:  #6aade948;
}


/*-----------cardapio-----------*/
.produtos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: scroll;
    height: 55vh;
}
.produtos::-webkit-scrollbar{
    display: none;
}
.space{
    width: 100%;
    height: 2vh;
}

/*----------menu inferior----------*/
.outMenu{
    display: flex;
    justify-content: space-between; 
    height: 29vh;
    flex-wrap: wrap;
    align-items: center;
    background: rgb(213,235,255);
    background: linear-gradient(180deg, rgba(213,235,255,1) 50%, rgb(126, 167, 206) 100%);  
}
.resumo{
    display: flex;
    justify-content: center;
    width: 450px;
    height: 29vh;
    overflow: scroll;
}
.resumo::-webkit-scrollbar{
    display: none;
}
.resContent{
    margin-top: 3vh;
    font-size: 3vh;
    font-family: sans-serif;
}
.conta{
    margin-top: 3vh;
    width: 33%;
    height: 25vh;
    font-family: sans-serif;
    font-size: 3vh;
}
.troco{
    display: flex;
    justify-content: flex-start;
    width: 50%;
}
.trocoIn{
    height: 25px;
    border-radius: 50px;
    border: none;
    font-size: 23px;
    padding-left: 2%;
    margin-left: 2%;
    box-sizing:border-box;
    width: 75px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*botões de finalização de pedido*/
.botoes{
    display: flex;
    justify-content: flex-end;
    width: 33%;
    height: 28vh;
    align-items: flex-end;
    font-family: sans-serif;
}
.botao{
    margin-bottom: 5vh;
    margin-right: 5vh;
    height: 45px;
    width: 175px;
    border-radius: 50px;
    font-size: 3vh;
    text-align: center;
    border: solid 1px #bad3e0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1.3s;
}
.botao:hover{
    border: none;
    background: linear-gradient(145deg, #9bb7d1, #b8d9f8);
    box-shadow:  11px 11px 24px #7c92a7,
                -11px -11px 24px #dcffff;
}


/*--------------responsividade----------------*/
@media (max-width: 700px), handheld and (orientation: landscape) { 
    .menu{
        height: 20vh;
    }
    .entrada1{
        width: 90%;
    }
    .mesa{
        width: 90%;
    }
    .outMenu{
        height: 58vh;
    }
    .troco{
        display: none;
    }
}