.container{
    border: solid 1px #bad3e0;
    height: 350px;
    width: 350px;
    border-radius: 15px;
    margin-top: 2vh;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    margin-left: 1%;
    position: relative;
    margin-bottom: 3vh;
    transition: 0.4s;
    /* https://neumorphism.io/ conferir após seleção de cores */       
}

.container:hover{
    background: linear-gradient(145deg, #c0d4e6, #e4fbff);
    box-shadow:  9px 9px 18px #a4b5c4,
             -9px -9px 18px #ffffff;
    border: none
}

.container2{
    background-color: #90df90;
    height: 350px;
    width: 350px;
    border-radius: 15px;
    margin-top: 2vh;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    margin-left: 1%;
    position: relative;
    margin-bottom: 3vh;
    background: linear-gradient(145deg, #c0d4e6, #e4fbff);
    box-shadow:  9px 9px 18px #a4b5c4,
             -9px -9px 18px #ffffff;
    /* https://neumorphism.io/ conferir após seleção de cores */       
}



.content{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}
.nome{
    font-size: 3vh;
    display: flex;
}
.ing{
    margin-top: 3vh;
    font-size: 2vh;
}
.obs{
    font-size: 2.5vh;
    width: 90%;
    padding-left: 5%;
    height: 5vh;
}
.valor{
    text-align: right;
    width: 100%;
    font-size: 2.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.preco{
    height: 3vh;
}

.add{
    width: 30%;
    border: solid 1px #bad3e0;
    height: 5vh;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.add:hover{
    background-color: #6aade948;
}
.id{
    position: absolute;
    margin-top: 1.5vh;
    width: 90%;
    text-align: left;
}